@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
    width: 100%;
    height: 100%;
    background-image: url("img/backgorund.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 50%;
    height: 120px;
    background-color: white;
    border-bottom-right-radius: 24px;
    position: fixed;
    box-shadow: 3px 2px 5px black;
    display: flex;
    flex-wrap: wrap;
}

#logo-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#logo {
    width: 200px;
}

#directions {
    width: 50%;
    height: 100%;
    display: flex;
}

.directions-divs {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

#info-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info {
    background-color: white;
    width: 40%;
    height: 450px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin-top: 8px;
    font-size: 1.2rem;
}

h1 {
    margin: 12px 0 24px 0;
    font-size: 2.4rem;
}

#pizza-container {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pizzas {
    width: 500px;
    height: 400px;
    border: black solid 2px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 12px 0 12px;
}

h3 {
    margin: 20px 0 20px 0;
}

.all-pizzas {
    width: 400px;
    height: 200px;
}

#body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#content{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 0 1000px rgba(0,0,0,0.5);
}

#content form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    width: 60rem;
}

#information{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#order-info{
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: -1rem;
}

#order-info input{
    display: flex;
    font-family: Roboto;
    width: 20rem;
    height: 2rem;
    padding-left: 2rem;
    border-radius: 20px;
    border: 2px solid rgb(30, 30, 30);
}

#information input:hover{
    border: 2px solid rgb(150, 150, 150);
}

#information input:focus{
    outline: none;
    border: 2px solid rgb(40, 130, 10);
}

#additional-info-container{
    display: flex;
    flex-direction: column;
    width: 20.3rem;
}

#additional-info{
    font-family: Roboto;
    width: 100%;
    border-radius: 15px;
    padding-left: 1.5rem;
    padding-top: 10px;
    margin-left: -0.9rem;
    border: 2px solid rgb(30, 30, 30);
}

#additional-info:hover{
    border: 2px solid rgb(150, 150, 150);
}

#additional-info:focus{
    border: 2px solid rgb(40, 130, 10);
    outline: none;
}

#additional-info-description{
    font-size: 0.9rem;
    color: gray;
}

#cart{
    width: 50%;
    height: 100%;
}

#information h1{
    font-size: 1rem;
    width: 20rem;
}

#call-container{
    align-self: flex-start;
    padding-left: 5rem;
    margin-bottom: -1rem;
}

#sms-container{
    align-self: flex-start;
    padding-left: 5rem;
    margin-bottom: 2rem;
}

.call-or-sms{
    width: 10px;
    height: 10px;
}
